apiVersion: v1
kind: Service
metadata:
  name: university-page
  labels:
    app: university-page
spec:
  type: LoadBalancer
  ports:
    - port: "80"
      targetPort: "3000"
  selector:
    app: university-page
